body {
    background: linear-gradient(135deg, #2b14f5, #edfbfdf3);
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #2d3436;
}

.principal {
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 320px;
}

/* Título */
.principal h1 {
    margin-bottom: 20px;
    color: #0d09e3;
}

/* Campo de entrada */
.temp, select {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid #0d09e3;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
}

/* Efeito ao focar */
.temp:focus, select:focus {
    border-color: #755ce7;
}

/* Botão */
button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #3109e3;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    
}

/* Efeito ao passar o mouse */
button:hover {
    background-color: #5d44ec;
   
}

h3 {
    margin-top: 20px;
    color: #2d3436;
}
p { background-color: #f1f2f6;
    padding: 8px;
    border-radius: 8px;
    margin: 6px;
    font-weight: 500;
}